USE [master]
GO
/****** Object:  Database [DB_CRUD]    Script Date: 12/05/2020 18:52:19 ******/
CREATE DATABASE [DB_CRUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_CRUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_CRUD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_CRUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_CRUD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_CRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_CRUD]
GO
/****** Object:  Table [dbo].[ESTUDIANTE]    Script Date: 12/05/2020 18:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTUDIANTE](
	[idestudiante] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellidos] [varchar](150) NULL,
	[dni] [char](8) NULL,
	[carrera] [varchar](100) NULL,
 CONSTRAINT [PK__ESTUDIAN__DE1D9AFA810C72C2] PRIMARY KEY CLUSTERED 
(
	[idestudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
